main {
   width: 800px;
   margin-left: calc(50% - 400px); 
   margin-top: 20px;
}

div {
display: inline-block;
width: 30%;
}

h1 {
text-transform: uppercase;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: 200;
letter-spacing: 5px;
font-size: 50px;
}
 p {
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 17px;
 }


